<div id="remove_idea" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">Remove Idea</h4>
			</div>
			<div class="modal-body">
				<p id="delete_message"></p>
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal" class="btn btn-default ">Cancel</a>
				<a data-dismiss="modal" class="btn btn-danger confirm">DETELE</a>
			</div>
		</div>
	</div>
</div>

