<% if !flash[:notice].nil? %>
	<div id="notice" class="alert alert-success alert-dismissible" role="alert"><%= notice %></div>
<% end %>


<% if !flash[:error].nil? %>
	<div id="notice" class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>